.video
    position relative
    padding-top 10px
    [data-dojo-attach-point='dateSpan']
        text-align center
        line-height 1.42857143
    span.glyphicon
        position absolute
        left 3px
        top 12px
        cursor pointer
