@import '../../agrc/resources/map/BaseMap.css';
@import '../../agrc/resources/map/BaseMapSelector.css';
@import 'SideBarToggler.css';
@import '../../ijit/themes/standard/layout/PaneStack.css';
@import '../../agrc/resources/locate/MagicZoom.css';
@import '../../agrc/resources/locate/TRSsearch.css';
@import 'CountyZoomer.css';
@import 'LayerToggler.css';
@import 'Toc.css';
@import 'RoadsToc.css';
@import 'LogInDialog.css';
@import 'UserMenu.css';
@import 'Identify.css';
@import 'AttributeTable.css';

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.main-container {
    width: 100%;
    height: 100%;
}

/* TITLE PANE */
#title-pane {
    border: none;
}
#title {
    font-size: 2em;
    font-weight: bold;
    float: left;
}
.version {
    display: inline-block;
    margin: 15px 0 0 5px;
    color: gray;
    text-decoration: none;
    font-weight: bold;
}
.version:hover {
    text-decoration: underline !important;
}

/* SIDE BAR */
#side-bar {
    width: 300px;
    padding: 0;
    overflow-y: auto;
}
.side-bar-sizer {
    width: 302px;
    margin: -1px;
}
.padder {
    padding: 8px;
}
.county-container {
    margin-top: 8px;
    float: left;
}
#county-name {
    font-weight: bold;
}
.padder .dijitButton {
    float: right;
}
.clearer {
    clear: both;
}
.magic-zoom {
    position: relative;
    z-index: auto;
    width: 270px;
}
.magic-zoom .matches-table {
    width: 270px;
}
.magic-zoom .text-box {
    width: 268px;
}
#side-bar h4 {
    margin-bottom: 3px;
}
#legend .esriLegendServiceLabel {
    display: none;
}
[data-dojo-attach-point='roadsIdentifyPane']_pane {
    padding: 0;
}

/* CENTER (MAP) */
#center {
    padding: 0;
}
#map-div {
    width: 100%;
    height: 100%;
}

/* GENERAL STUFF */
/* remove orange outline in chrome */
*:focus {
    outline: none;
}
/* close button in dijit.Dialog */
.dijitDialogCloseIcon {
    display: none;
}
