.attribute-table-dialog {
    width: 80%;
    height: 80%;
}
.attribute-table-dialog .dijitDialogCloseIcon {
    display: inline;
    margin-top: 3px;
}
.attribute-table-dialog .dojoxGrid {
    margin: 8px -8px -10px -10px !important;
}
.attribute-table-dialog .dijitButton {
    float: right;
}
.attribute-table-dialog .help-txt {
    margin-top: 6px;
    float: left;
}
.attribute-table-dialog .dijitDialogPaneContent {
    height: 100% !important;
}
