.county-zoomer-dialog {
    width: 300px;
}

/* TABLE */
.county-zoomer-dialog table {
    width: 100%;
}
.county-zoomer-dialog td {
    vertical-align: top;
    padding: 2px;
    text-align: center;
    background-color: #D6D6D6;
    border: solid 1px #BFBFBF;
    cursor: pointer;
}
.county-zoomer-dialog td:hover {
    border-color: #A9A9A9;
}
