.esriPopup
    .actionsPane
        background-color #444 !important
        border-width 0 !important
    .contentPane table, [data-dojo-attach-point='roadsIdentifyPane'] table
        border-collapse collapse
        width 100%
        td
            border-top 1px #B5BCC7 solid
            padding 2px
    .plpco-pic
        width 100%
        height auto
#roads-identify-pane_pane
    padding 0
    .table-condensed td
        line-height: 1
