.esriPopup .actionsPane {
    background-color: #444 !important;
    border-width: 0 !important;
}
.esriPopup .contentPane table, #roads-identify-pane table {
    border-collapse: collapse;
    width: 100%;
}
.esriPopup .contentPane table td, #roads-identify-pane table td {
    border-top: 1px #B5BCC7 solid;
    padding: 2px;
}
.esriPopup .plpco-pic {
    width: 100%;
    height: auto;
}
#roads-identify-pane_pane div {
    padding: 10px;
}
