.log-in-dialog {
    width: 305px;
    top: 15% !important;
}
.log-in-dialog label span {
    float: left;
    margin-top: 3px;
}
.log-in-dialog label input {
    float: right;
    width: 150px;
    margin-bottom: 2px;
}
.log-in-dialog .clear {
    clear: both;
}
.log-in-dialog .btn-sizer {
    width: 271px;
}
.log-in-dialog .dijitButton {
    margin-left: 0;
}
.log-in-dialog .loader-container {
    display: none;
}
.log-in-dialog .loader-container img {
    vertical-align: middle;
}
.log-in-dialog .alert-container {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    opacity: 0;
    display: none;
    margin-top: 4px;
}
.log-in-dialog .warning {
    color: #C09853;
    background-color: #FCF8E3;
    border-color: #FBEED5;
}
.log-in-dialog .error {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
}
.log-in-dialog .success {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}
.log-in-dialog .request-container {
    display: none;
    opacity: 0;
}
.log-in-dialog .help-txt {
    font-size: smaller;
    color: gray;
}
