.roads-toc h4 {
    margin-top: 0;
}
.roads-toc label img {
    vertical-align: middle;
    margin: -8px 0 -5px 5px;
}
.roads-toc select {
    margin-left: 22px;
}
.roads-toc label {
    border: 1px solid white;
}
.roads-toc .open-table {
    text-decoration: underline;
    cursor: pointer;
}
