.roads-toc
    h4
        margin-top 0
    label img
        vertical-align middle
        margin -8px 0 -5px 5px
    select
        margin-left 22px
    label
        border 1px solid white
    .open-table
        text-decoration underline
        cursor pointer
