@import '../plpco/css/LogInDialog.css';
@import '../plpco/css/UserMenu.css';
@import 'bootstrap.min.css';
@import '../plpco/css/UserAdmin.css';

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#loading-overlay {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EDEDED;
    z-index: 800;
    vertical-align: middle;
}
#loading-overlay div {
    padding: 10px;
}
.hidden {
    display: none;
}
body {
    font-size: 16px;
}
input {
    margin-bottom: 0;
}
.container .user-menu {
    margin-top: -28px;
}
