<div>
    <div dojoAttachPoint='dialog' dojoType='dijit.Dialog' class='county-zoomer-dialog'
        title='Please select a county.'>
        <table>
            <tbody>
                <tr>
                    <td>Beaver</td>
                    <td>Box Elder</td>
                    <td>Cache</td>
                </tr>
                <tr>
                    <td>Carbon</td>
                    <td>Daggett</td>
                    <td>Davis</td>
                </tr>
                <tr>
                    <td>Duchesne</td>
                    <td>Emery</td>
                    <td>Garfield</td>
                </tr>
                <tr>
                    <td>Grand</td>
                    <td>Iron</td>
                    <td>Juab</td>
                </tr>
                <tr>
                    <td>Kane</td>
                    <td>Millard</td>
                    <td>Morgan</td>
                </tr>
                <tr>
                    <td>Piute</td>
                    <td>Rich</td>
                    <td>Salt Lake</td>
                </tr>
                <tr>
                    <td>San Juan</td>
                    <td>Sanpete</td>
                    <td>Sevier</td>
                </tr>
                <tr>
                    <td>Summit</td>
                    <td>Tooele</td>
                    <td>Uintah</td>
                </tr>
                <tr>
                    <td>Utah</td>
                    <td>Wasatch</td>
                    <td>Washington</td>
                </tr>
                <tr>
                    <td>Wayne</td>
                    <td>Weber</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>