<div>
    <div dojoAttachPoint='dialog' dojoType='dijit.Dialog' class='log-in-dialog' 
        title='Please log in.'>
        <label>
            <span>Email</span>
            <input dojoAttachPoint='emailBox' type='email'>
        </label>
        <div class='clear'></div>
        <label>
            <span>Password</span>
            <input dojoAttachPoint='passwordBox' type='password'>
        </label>
        <div class='clear'></div>
        <!-- <div class='help-txt'>Please note that the @test.com usernames don't work anymore. 
            You now need to request your own account by clicking on the "Request Access" button below.</div> -->
        <button dojoAttachPoint='submitBtn' dojoType='dijit.form.Button' type='button'>
            <div class='btn-sizer'>Log In</div>
        </button>
        <button dojoAttachPoint='requestBtn' dojoType='dijit.form.Button' type='button'>
            <div class='btn-sizer'>Request Access</div>
        </button>
        <div dojoAttachPoint='requestContainer' class='request-container'>
            <div class='help-txt'>
                Fill out the form below to request access to the system.
            </div>
            <label>
                <span>First Name</span>
                <input dojoAttachPoint='fNameBox' type='text'>
            </label>
            <div class='clear'></div>
            <label>
                <span>Last Name</span>
                <input dojoAttachPoint='lNameBox' type='text'>
            </label>
            <div class='clear'></div>
            <label>
                <span>Organization</span>
                <input dojoAttachPoint='orgBox' type='text'>
            </label>
            <div class='clear'></div>
            <label>
                <span>Email</span>
                <input dojoAttachPoint='requestEmailBox' type='email'>
            </label>
            <div class='clear'></div>
            <label>
                <span>Verify Email</span>
                <input dojoAttachPoint='verifyEmailBox' type='email'>
            </label>
            <div class='clear help-txt'>Passwords must be at least 7 characters in length and include 1 non-alphanumeric character.</div>
            <label>
                <span>Password</span>
                <input dojoAttachPoint='requestPasswordBox' type='password'>
            </label>
            <div class='clear'></div>
            <label>
                <span>Verify Password</span>
                <input dojoAttachPoint='verifyPasswordBox' type='password'>
            </label>
            <div class='clear'></div>
            <button dojoAttachPoint='submitRequestBtn' dojoType='dijit.form.Button' type='button'>
                <div class='btn-sizer'>Submit Registration</div>
            </button>
        </div>
        <div dojoAttachPoint='alertContainer' class='alert-container'>
            <span dojoAttachPoint='alertTxt'></span>
            <div dojoAttachPoint='loader' class='loader-container'>
                <span>Loading...</span>
                <img alt='loader' src='content/images/loader.gif'>
            </div>
        </div>
    </div>
</div>