<div class="alert alert-info user-admin">
        <strong>${name}</strong><br>
        <span>${agency}</span><br>
        <span>${username}</span>
        <br><br>
        Choose role:<br>
        <div class='btn-group'>
            <button dojoattachpoint="generalBtn" class="btn btn-info">General</button>
            <button dojoattachpoint='secureBtn' class='btn btn-success'>Secure</button>
            <button dojoattachpoint='adminBtn' class='btn btn-warning'>Admin</button>
            <button dojoattachpoint="rejectBtn" class="btn btn-danger">Reject</button>
        </div>
</div>